In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('play_tennis.csv')
data.head()
data.drop(columns=['day'],inplace=True)
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [4]:
# problem 1
# outlook=sunny,temp=hot, humidity=high,wind=weak
# play or notplay?

In [6]:
# solution
#p(yes|Sunny ,Hot, High, Weak)=p(Sunny| yes)*p(Hot| yes)*p(High| yes)*p(Weak| yes)*p(yes)
#p(No|Sunny ,Hot, High, Weak)=p(Sunny| NO)*p(Hot| No)*p(High| No)*p(Weak| No)*p(No)
# compare and decide using map(maximum a posteriori)rule

In [7]:
# problem 2
# outlook=Overcast,temp=cold, humidity=low,wind=weak
# play or notplay?

In [8]:
# solution
#p(yes|Overcast ,Cold, Low, Weak)=p(Overcast| yes)*p(Cold| yes)*p(Low| yes)*p(Weak| yes)*p(yes)
#p(No|Overcast ,Cold, Low, Weak)=p(Overcast| No)*p(Cold| No)*p(Low| No)*p(Weak| No)*p(No)
# compare and decide using map(maximum a posteriori)rule

In [9]:
# training phase
# lookup table(dictionary).................it is basically a set of probablity
# testing phase

In [10]:
# p(yes)
# p(no)

In [11]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [12]:
py=9/14
pn=5/14

In [13]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [14]:
#outlook
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [15]:
pon=0
prn=2/5
psn=3/5

poy=4/9
pry=3/9
psy=2/9

In [16]:
print(pon)
print(prn)
print(psn)

0
0.4
0.6

In [17]:
print(poy)
print(pry)
print(psy)

0.4444444444444444
0.3333333333333333
0.2222222222222222

In [18]:
#temperature
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [31]:

pCoolno=1/5
pHotno=2/5
pMildno=2/5

pCoolyes=3/9
pHotyes=2/9
pMildyes=4/9

In [34]:
print(pCoolno)
print(pHotno)
print(pMildno)

0.2
0.4
0.4

In [35]:
print(pCoolyes)
print(pHotyes)
print(pMildyes)

0.3333333333333333
0.2222222222222222
0.4444444444444444

In [22]:
#Humidity
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [36]:
phighNO=4/5
pnormalNO=1/5

phighYES=3/9
pnormalYES=6/9

In [38]:
print(phighNO)
print(pnormalNO)

0.8
0.2

In [39]:
print(phighYES)
print(pnormalYES)

0.3333333333333333
0.6666666666666666

In [26]:
#Wind
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [41]:
pstrongno=3/5
pweakno=2/5

pstrongyes=3/9
pweakyes=6/9

In [42]:
print(pstrongno)
print(pweakno)

0.6
0.4

In [43]:
print(pstrongyes)
print(pweakyes)

0.3333333333333333
0.6666666666666666

In [44]:
 #outlook=sunny,temp=hot, humidity=high,wind=weak
pyes=py*psy*pHotyes*phighYES*pweakyes

In [48]:
print(pyes)

0.010582010582010581

In [47]:
pno=pn*psn*pHotno*phighNO*pweakno
print(pno)

0.02742857142857143

In [49]:
#since pno>pyes.....this conclude no play!