In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

# if the response of the file is 403

*headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} -requests.get('url',headers=headers).text

In [2]:
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text
webpage

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;74cf2e17&#46;1733422980&#46;2249805a\n<P>https&#58;&#47;&#47;errors&#46;edgesuite&#46;net&#47;18&#46;74cf2e17&#46;1733422980&#46;2249805a</P>\n</BODY>\n</HTML>\n'

In [5]:
soup=BeautifulSoup(webpage,'lxml')

In [6]:
 print(soup.prettify())

<html>
 <head>
  <title>
   Access Denied
  </title>
 </head>
 <body>
  <h1>
   Access Denied
  </h1>
  You don't have permission to access "http://www.ambitionbox.com/list-of-companies?" on this server.
  <p>
   Reference #18.74cf2e17.1733422980.2249805a
  </p>
  <p>
   https://errors.edgesuite.net/18.74cf2e17.1733422980.2249805a
  </p>
 </body>
</html>

# To find out the names of company

In [7]:
company=soup.find_all('div',class_='company-content-wrapper')

In [78]:
len(company)

0

In [13]:
name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
old=[]
employee=[]
for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find_all('p',class_='rating')[0].text.strip())
    reviews.append(i.find_all('a',class_='review-count')[0].text.strip())
    ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    hq.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    old.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    employee.append(i.find_all('p',class_='infoEntity')[0].text.strip())
d={'name':name,'rating':rating,'reviews':reviews,'type':ctype,'hq':hq,'old':old,'employee':employee}
df= pd.DataFrame(d)
df

Empty DataFrame
Columns: [name, rating, reviews, type, hq, old, employee]
Index: []

In [9]:
 name

[]

In [85]:
rating

[]

In [88]:
reviews

[]

In [16]:
final=pd.DataFrame()
for j in range(1,11):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} -requests.get('url',headers=headers).text
    url='https://www.ambitionbox.com/list-of-companies?page={}'.format(j)

NameError: name 'headers' is not defined

In [12]:
#company[0]
# it will give all related yto tcs